*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(s.png);
  background-size: cover;
  background-position: center;
    font-family: sans-serif;
}

.mb{
  background: rgb(0,100,0);
  text-align: center;
}

.mb ul{
  display: inline-flex;
  list-style: none;
  color: #fff;

}

.mb ul li{
  width: 120px;
  margin: 15px;
  padding: 15px;
}

.mb ul li a{
  text-decoration: none;
  color: #fff;
}

.active,  .mb ul li:hover{
  background: #2bab0d;
  border-radius: 3px;
}

.mb .fa{
  margin-right: 8px;
}

.sm1{
 display: none;
}

.mb ul li:hover  .sm1{
  display: block;
  position: absolute;
  background: rgb(0,100,0);
  margin-top: 15px;
  margin-left: -15px;
}

.mb ul li:hover .sm1 ul{
  display: block;
  margin: 10px;
}

.mb ul li:hover .sm1 ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.mb ul li:hover .sm1 ul li:last-child{
  border-bottom: none;
}

.mb ul li:hover .sm1 ul li a:hover{
  color: black;
}

.fa-angle-right{
  float: right;
}

.sm2{
  display: none;
}

.hover-me:hover .sm2 {
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 140px;
  background: rgba(0,100,0);
}

.uu{
  display: none;
}

.hover-me-1:hover .uu {
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 140px;
  background: rgba(0,100,0);
}

.sss{
  display: none;
}

.ee:hover .sss {
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 140px;
  background: rgba(0,100,0);
}
